{% extends "layout.html" %}

{% block content %}
    <h3>Check local players against ISK Efficiency standings</h3>
    {% if success %}
        <table>
            <th>Player</th><th>Corp</th><th>Alliance</th><th>Misc</th>
            {{ data }}
        </table>
    {% endif %}

    <p>Any members not shown have been tagged as friendly.</p>



    <h3>Paste local players into box below.</h3>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <form action="{{ url_for('check') }}" method=post>
        {{ form.hidden_tag() }}

        {{ form.players.label }}
        {{ form.players }}

        {{ form.submit }}
    </form>

{%  endblock %}