<!DOCTYPE html>
<html>
  <head>
    <title>ISK Efficiency</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">;

  </head>
  <body>
   
    <header>
  <div class="container">
    <h1 class="logo">ISK Efficiency Standings Tool</h1>
    <strong><nav>
      <ul class="menu">
  		<li><a href="{{ url_for('home') }}">Listing</a></li>
        <li><a href="{{ url_for('check') }}">Local Check</a></li>
      </ul>
    </nav></strong>
  </div>
</header>
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>
